body{
  background: url("../images/yellow.jpg");
  background-repeat: repeat-x;
  background-size: cover;
}
p{
  color: purple;
  padding: 20px;
  background:
}
ul li{
  list-style-type: none;
  display: block;
  border-color: red
}
